    pandas
    numexpr
    pyodc>=1.3
    requests
    oauthlib
    requests-oauthlib
    pyyaml
    munch
    Levenshtein
    tqdm
    argparse
    watchdog
    shapely
    pyyaml-include
    bs4
    lxml
    dataclass_wizard # TODO: excise this
    pika