- name: datetime
- name: station_name
- name: station_id
- name: author
- name: author_uuid
- name: station_created_at
- name: location_exposure


- name: platform
- name: external_station_id

- name: lat
  unit: EPSG:4326

- name: lon
  unit: EPSG:4326



- name: total_volatile_organic_compounds # device.data.sensors.default_key ## tvoc
  key: TVOC # device.data.sensors.measurement.name ## "AMS CCS811 - TVOC"
  unit: "ppb"

- name: total_volatile_organic_compounds # device.data.sensors.default_key ## tvoc
  key: tvoc # device.data.sensors.measurement.name ## "AMS CCS811 - TVOC"
  unit: "ppb"

- name: equivalent_carbon_dioxide 
  key: 
    - eco2
    - eCO2
  unit: "ppm"

- name: ambient_light 
  key: ["Light", "light"]
  unit: "lux"

# Discard this one because we can't do much with a unit in percentage
- name: ambient_light 
  key: Light
  unit: "%"
  discard: true # The reported unit is "%"

# Make two separate names for this because dB can't be converted to dBA
- name: noise_dB
  key: "Noise Level"
  unit: "dB"

- name: noise_dBA
  key: ["Noise Level", "noise_dba"]
  unit: "dBA"

- name: air_pressure_near_surface
  key: ["Barometric Pressure", "bar"]
  unit: "kPa"

- name: nitrogen_oxide
  key: no2
  unit: kOhm
  discard: true # The reported unit is kOhm

- name: nitrogen_oxide
  key: ["NO2", "no2"]
  unit: ppb

- name: pv_panel
  key: pv_panel
  discard: true # The reported unit is kOhm

- name: pv_panel
  key: pv panel
  unit: V
  discard: true # The reported unit is kOhm

- name: nets
  key: nets
  unit: "# networks"
  discard: true # The reported unit is kOhm

- name: particulate_matter_1
  key: ["PM 1", "pm_avg_1"]
  unit: ["ug/m3", "µg/m3"] # Note one is a u and one is a mu

- name: particulate_matter_10
  key: ["PM 10", "pm_avg_10"]
  unit: ["ug/m3", "µg/m3"] # Note one is a u and one is a mu

- name: particulate_matter_2_5
  key: ["PM 2.5", "pm_avg_2.5"]
  unit: ["ug/m3", "µg/m3"] # Note one is a u and one is a mu

- name: particulate_matter_particle_number_0_3
  key: ["PN0.3", "pm_pn0.3"]
  unit: "#/0.1l"

- name: particulate_matter_particle_number_0_5
  key: ["PN0.5", "pm_pn0.5"]
  unit: "#/0.1l"

- name: particulate_matter_particle_number_1
  key: ["PN1.0", "pm_pn1.0"]
  unit: "#/0.1l"

- name: particulate_matter_particle_number_10
  key: ["PN10.0", "pm_pn10.0"]
  unit: "#/0.1l"

- name: particulate_matter_particle_number_2_5
  key: ["PN2.5", "pm_pn2.5"]
  unit: "#/0.1l"

- name: particulate_matter_particle_number_5
  key: ["PN5.0", "pm_pn5.0", "pm_a_pn5.0"]
  unit: ["#/0.1l", "#/0.1L"]

- name: carbon_dioxide 
  key: ["CO2", "co2"]
  unit: "ppm"

- name: carbon_monoxide
  key: "co"
  unit: "kOhm"
  discard: true

- name: ozone
  key: ["O3", "o3"]
  unit: "ppb"

- name: relative_humidity_near_surface 
  key: ["Relative Humidity", "h", "hum"]
  unit: "%"

  
- name: 
  key: ["ext_h"]
  unit: "%"
  discard: true

- name: air_temperature_near_surface
  key: ["Air Temperature", "t"]
  unit: "ºC" # Yes, this degree symbol looks weird, this is actually the unicode character known as "MASCULINE ORDINAL INDICATOR", do not ask me why.

# Discard for now because it clashes with the above
- name: 
  key: ["ext_t"]
  unit: "ºC" # Yes, this degree symbol looks weird, this is actually the unicode character known as "MASCULINE ORDINAL INDICATOR", do not ask me why.
  discard: true

# Don't ingest this data, just assert that is it data we expect to see and are happy to discard
- name: battery_voltage
  key: ["battery", "bat"]
  discard: true 
  unit: "%"

- name: battery_voltage
  key: Voltage
  discard: true 
  unit: V

- name: Noise Sensor TA120
  key: ta120noise
  discard: true
  unit: dBA

- name: unknown
  key: 
    - adc_48_0
    - adc_48_1
    - adc_48_2
    - adc_48_3
    - adc_49_0
    - adc_49_1
    - adc_49_2
    - adc_49_3
  unit: V
  discard: true
