# This file will contain a list of our canonical variables various metadata associated with them

# This is our canonical name for each variable
# Where possible I have used the same keys as defined by the WMO, see WMO_variables.yaml
# When that's not possible we need to define the key, unit and definition
# Possibly other variables too

# for dtype use string aliases from https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes
# default dtype is float64

- name: platform
  dtype: category
  description: The platform that made the observation

- name: living_lab
  dtype: category
  description: The living lab associated with this data

- name: aggregation_type
  dtype: category
  description: The type of aggregation of the data, e.g. by_time or by_station

- name: author
  dtype: category
  description: The person or entity responsible for the observation.

- name: external_station_id
  description: The identifier for a station used by the observation platform.
  dtype: category

- name: station_id
  description: A unique identifer for a station, sensor or device.
  dtype: category

- name: station_name
  description: A human readable name for a station or device. Not necessarily unique.
  dtype: category


- name: sensor_name
  dtype: string
  description: The name of the sensor that made the observation.

- name: datetime
  dtype: datetime64[ns, UTC]
  description: The date and time that the observation was made.

- name: start_time
  dtype: datetime64[ns, UTC]
  description: For chunked data files, the logical beginning of the time period of the chunk, possibly rounded.
  
- name: offset_tz
  description: The original timezone offset of the data
  dtype: string

- name: lat
  unit: "EPSG:4326"
  description: "The lattitude of the observation, referenced to WGS84 (EPSG: 4326)"

- name: lon
  unit: "EPSG:4326"
  description: "The longitude of the observation, referenced to WGS84 (EPSG: 4326)"

- name: altitude
  unit: "EPSG:4326"
  description: "The altitude of the observation, referenced to WGS84 (EPSG: 4326)"


- name: author_uuid
  dtype: string
  description: A uuid for the author from the external data platform.

- name: chunk_date
  dtype: string
  description: The date of the chunk of data in the format YYYYMMDD

- name: chunk_time
  dtype: string
  description: The time of the chunk of data in the format HHMM

- name: station_created_at
  description: The date and time that the station was created.
  dtype: datetime64[ns, UTC]

- name: sensor_type
  description: A label indicating the kind or model of sensor used. 
  dtype: string

# - name: location
#   dtype: int

- name: location_exposure
  dtype: string
  description: The exposure of the sensor, e.g. indoor, outdoor, roadside.

- name: observation_id
  description: A unique identifer for a stationary sensor.
  dtype: string



- name: air_temperature_near_surface
  description: The temperature of the air near the surface.
  unit: K

- name: relative_humidity_near_surface
  description: The relative humidity of the air near the surface.
  unit: "%"

- name: humidity_index
  unit: K

- name: internal_temperature
  unit: K
  description: The internal temperature of the sensor.

- name: vertical_temperature_gradient
  description: The vertical rate of change of the temperature.
  unit: "°C/100m"


- name: air_pressure_near_surface
  unit: Pa

- name: pressure_sealevel
  unit: Pa

- name: co2
  unit: ppm

- name: wind_gust
  unit: "m/s"

- name: wind_gust_direction
  unit: "°"

- name: dew_point_temperature
  unit: K

- name: wind_direction_near_surface
  description: The direction of the wind near the surface in degrees clockwise from north.
  unit: "°"

- name: wind_speed_near_surface
  unit: "m/s"

- name: rainfall
  unit: "mm"

- name: wind_direction
  unit: "Degrees"

- name: battery_level
  description: The battery level of the device.
  unit: "V"


- name: thermometer_min
  unit: K

- name: thermometer_max
  unit: K

- name: signal_strength
  unit: "CSQ"

- name: solar_radiation
  unit: "W/m^2"

- name: solar_radiation_index
  unit: 1

- name: bluetooth_RSSI
  unit: dBm

- name: carbon_dioxide
  unit: ppm

- name: carbon_monoxide
  unit: ppm

- name: sulphur_dioxide
  unit: ppm

- name: particulate_matter_1
  unit: "μg/m3"

- name: particulate_matter_2_5
  unit: "μg/m3"

- name: particulate_matter_4
  unit: "μg/m3"

- name: particulate_matter_10
  unit: "μg/m3"

- name: particulate_matter_particle_number_0_3
  unit: "#/cm3"

- name: particulate_matter_particle_number_0_5
  unit: "#/cm3"

- name: particulate_matter_particle_number_1
  unit: "#/cm3"

- name: particulate_matter_particle_number_2_5
  unit: "#/cm3"

- name: particulate_matter_particle_number_4
  unit: "#/cm3"

- name: particulate_matter_particle_number_5
  unit: "#/cm3"

- name: particulate_matter_particle_number_10
  unit: "#/cm3"

- name: typical_particle_size
  description: A representative diameter of the measured particles.
  unit: "μm"

- name: EPA_Air_Quality
  unit: 1

- name: Fast_Air_Quality
  unit: 1

- name: ozone
  unit: "ppb"

- name: potential_temperature
  unit: K

- name: total_volatile_organic_compounds
  unit: ppb

- name: equivalent_carbon_dioxide
  unit: ppm
  description: The equivalent amount of CO2 in the air when the warming effects of other greenhouse gases are taken into account.

- name: noise_dB
  description: The noise level in decibels.
  unit: "dB"

- name: noise_dBA
  description: The noise level in decibels, A-weighted.
  unit: "dBA"

- name: nitrogen_oxide
  description: The concentration of nitrogen oxide in the air.
  unit: "ppm"

- name: ambient_light
  description: The intensity of surrounding light.
  unit: "lux"

- name: unknown
  unit: "?"