services:
  caddy:
    image: caddy:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - ionbeam
      - pygeoapi
    networks:
      - ionbeam

  ionbeam:
    depends_on:
      influxdb2:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    build:
      context: ../../
      dockerfile: ./Dockerfile
      target: ionbeam
    #image: eccr.ecmwf.int/ionbeam/ionbeam-next # Not published yet
    environment:
      - IONBEAM_CONFIG_PATH=/config/config.yaml
    volumes:
      - ./config.example.yaml:/config/config.yaml
      - ./data-projections:/projections # store for projected data
      - ./data:/data # store for aggregated datasets
      - ./cache:/app/.cache
      - ./data-raw:/data-raw # store for data-source outputs
      - ./pygeoapi.yaml:/pygeoapi/local.config.yml
    networks:
      - ionbeam
      - monitoring

  rabbitmq:
    image: rabbitmq:management-alpine
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      timeout: 30s
      retries: 3
    networks:
      - ionbeam
    ports:
      - 5672:5672
      - "15672:15672" # Management UI port

  influxdb2:
    image: influxdb:2
    ports:
      - 8086:8086
    env_file:
      - influxdb.example.env
    volumes:
      - type: volume
        source: influxdb2-data
        target: /var/lib/influxdb2
      - type: volume
        source: influxdb2-config
        target: /etc/influxdb2
    networks:
      - ionbeam
  redis:
    image: redis:latest
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    networks:
      - ionbeam
      - monitoring
    volumes:
      - redis_data:/data
    command: ["redis-server"]
  redisinsight:
    image: redis/redisinsight:latest
    depends_on:
      - redis
    networks:
      - monitoring
    ports:
      - 5540:5540
    environment:
      RI_REDIS_HOST: redis
      RI_REDIS_PORT: "6379"
      RI_REDIS_ALIAS: local-redis
    volumes:
      - redisinsight-data:/data
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - 9090:9090
    networks:
      - monitoring
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    ports:
      - "3000:3000"
    networks:
      - monitoring
    restart: unless-stopped
  pygeoapi:
    build:
      context: .
      dockerfile: ../../Dockerfile.pygeoapi # We need to use a custom container because our geoparquet providers requires some depedency fixes
    platform: linux/amd64 # no available aarch64 tag
    image: ionbeam-geopythonapi
    restart: no
    volumes:
      - ./pygeoapi.yaml:/pygeoapi/local.config.yml
      - ./data-projections:/projections
    networks:
      - ionbeam

volumes:
  influxdb2-data:
  influxdb2-config:
  caddy_data:
  caddy_config:
  redis_data:
  redisinsight-data:
  grafana_data:
  prometheus_data:

networks:
  ionbeam:
  monitoring:
